.load-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.load-more {
  background-color: #f9ac67;
  border: 2px solid #3a3f58;
  color: #3a3f58;
  border-radius: 8px;
  width: 170px;
  height: 40px;
}

.load-more:hover,
.load-more:focus {
  background-color: #ee6a59;
  outline: none;
  border: 2px solid #3a3f58;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
