.search-btn {
  background-color: #f9ac67;
  border: 2px solid #3a3f58;
  border-radius: 8px;
  color: #3a3f58;
  width: 120px;
  height: 40px;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #ee6a59;
  outline: none;
  border: 2px solid #3a3f58;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
