.gallery {
  display: flex;
  margin: auto auto;
  flex-wrap: wrap;
  gap: 40px;
  width: 1410px;
}

.photo-card {
  width: 250px;
  background-size: cover;
}

.info {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  background-color: #ece6cd;
  border: 1px solid #3a3f58;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

p {
  margin: auto auto;
  text-align: center;
  font-size: 12px;
  gap: 5px;
}

ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

p span {
  font-size: 8px;
}
