.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-form input {
  margin-right: 10px;
  padding: 4px 4px;
  border: 2px solid #3a3f58;
  background-color: #f9ac67;
  color: #3a3f58;
  border-radius: 8px;
  font-size: 18px;
  width: 400px;
  height: 40px;
}

.search-form input::placeholder {
  padding: 4px 4px;
  font-size: 14px;
  color: #3a3f58;
}

.search-form input:focus,
.search-form input:hover {
  outline: none;
  border: 2px solid #3a3f58;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
